@if(event){
<p-card [style]="{ borderRadius: '.75rem', overflow: 'hidden', height: '100%' }">
  <ng-template #header>
    <div class="h-[12.5rem] overlay">
      <app-badge class="absolute top-4 right-4 z-10 ">
        <p class="text-xs text-white capitalize">
          {{event.status}}
        </p>
      </app-badge>
      <img [src]="event.image ?? 'https://placehold.co/600x400' " class="object-cover w-full h-full" />
    </div>
  </ng-template>
  <ng-template #content>
    <div class="flex flex-col">
      <h3 class="text-base text-neutral-900 font-medium">{{event.title}}</h3>
      <p class="text-sm mt-1 two-lines">{{event.description}}</p>

      <div class="flex items-center justify-between mt-auto pt-5">
        <div>
          <h3 class="font-medium text-sm text-lime-500 ">Publicado em</h3>
          <p class="text-xs mt-auto pt-1">{{formattedDate()}}</p>
        </div>
        <div class="flex items-center mt-auto">
          <p-button icon="pi pi-pencil" severity="secondary" size="small" pTooltip="Editar" tooltipPosition="top"
            (click)="handleClickEdit(event.id)" />
          <p-button icon="pi pi-trash" severity="danger" class="ml-2" size="small" pTooltip="Deletar"
            tooltipPosition="top" (click)="handleClickDelete(event.id)" />
        </div>



      </div>

    </div>
  </ng-template>
</p-card>
}
