<p-dialog header="Editar evento" [modal]="true" [(visible)]="visible" class="modal-edit-event" (onShow)="fillForm()"
  (onHide)="resetForm()">

  <span class="p-text-secondary block mb-8">Atualize os dados do evento.</span>
  <form [formGroup]="formEditEvent" class="mt-6">
    <div class="flex flex-col gap-4 mb-4">
      <label for="title" class="font-semibold">Título</label>
      <input pInputText id="title" formControlName="title" class="flex-auto" autocomplete="off" aria-label="title" />
    </div>
    <div class="flex flex-col gap-4 mb-4">
      <label for="description" class="font-semibold">Descrição</label>
      <textarea rows="5" cols="30" pTextarea formControlName="description" aria-label="description"></textarea>
    </div>
    <div class="flex flex-col">
      <label for="status" class="font-semibold">Status</label>
      <div class="flex items-center mt-4">
        <div>
          <p-radiobutton inputId="ativo" value="ativo" formControlName="status" aria-label="ativo" />
          <label for="ativo" class="ml-1">ativo</label>
        </div>
        <div class="ml-2">
          <p-radiobutton inputId="ativo" value="inativo" formControlName="status" aria-label="inativo" />
          <label for="inativo" class="ml-1">inativo</label>
        </div>
      </div>
    </div>
    <div class="flex justify-end gap-2 mt-8">
      <p-button label="Cancelar" severity="secondary" (click)="handleClickClose()" />
      <p-button label="Salvar" severity="primary" (click)="updateEvent()" />
    </div>
  </form>
</p-dialog>
