<main>
  <div class="grid grid-cols-1 xl:grid-cols-2 w-full min-h-screen">
    <div class="bg-lime-500 w-full h-full xl:block hidden">
    </div>
    <div class="w-full h-full flex flex-col items-center justify-center">
      <div class="xl:shadow-sm xl:w-[27.5rem]  p-6">
        <h3 class="text-[2rem] font-normal"> Fazer login </h3>
        <p class="text-base text-neutral-900/70 mt-2">Seja bem-vindo(a)! Insira seu e-mail e
          senha para entrar em sua conta.</p>
        <form class="mt-6">
          <div class="flex flex-col gap-1">
            <input pInputText placeholder="Email" aria-label="email" />
          </div>
          <div class="flex flex-col gap-1 mt-6">
            <input pInputText placeholder="Senha" aria-label="senha" />
          </div>
          <div class="flex flex-col gap-1 mt-8">
            <button pButton type="submit">Entrar</button>
          </div>
        </form>
      </div>

    </div>

  </div>

</main>
