<p-table [value]="events" dataKey="id" [rows]="10" [rowsPerPageOptions]="[1,10, 25, 50]" [paginator]="true"
  [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']">

  <ng-template #header>
    <tr>
      <th>Titulo</th>
      <th>Descrição</th>
      <th>Publicado em</th>
      <th>Ações</th>

    </tr>
  </ng-template>
  <ng-template #body let-event>
    <tr>

      <td>
        <div class="flex items-center">
          <img [src]="event.image" alt="event.title" class="w-20 h-12 object-cover rounded mr-2" />
          <p> {{event.title}}</p>

        </div>
      </td>
      <td>
        <p>{{event.description}}</p>
      </td>
      <td>
        <p>{{utilsService.formatDate(event?.publishedAt)}}</p>
      </td>
      <td>
        <div class="flex items-center">
          <p-button icon="pi pi-pencil" severity="secondary" size="small" />
          <p-button icon="pi pi-trash" severity="danger" class="ml-2" size="small" />
        </div>
      </td>
    </tr>
  </ng-template>

</p-table>
