<main>
  <div class="container mx-auto mt-8 mb-8 px-4 lg:px-6">
    <app-events-header (visualizationModeChange)="onVisualizationModeChange($event)" />
    @if(visualizationMode() === 'grid') {
    <app-events-grid (deleteEvent)="viewDeleteEvent($event)" (editEvent)="viewEditEvent($event)" [events]="events"
      [emptyMessage]="emptyMessage" />
    }
    @else{
    <app-events-table (deleteEvent)="viewDeleteEvent($event)" [events]="events" (editEvent)="viewEditEvent($event)"
      [emptyMessage]="emptyMessage" />
    }
  </div>
  <p-toast />
  <p-confirmdialog />
  <app-events-modal-edit [visible]="modalEditEventIsVisible" [selectedEventId]="selectedEventId()" />

</main>