<p-table [value]="events()" dataKey="id" [rows]="10" [rowsPerPageOptions]="[1,10, 25, 50]"
  [paginator]="events.length > 0" [globalFilterFields]="['title', 'description', 'publishedAt', 'status']"
  [responsive]="true" responsiveLayout="stack" [rowHover]="true">

  <ng-template #header>
    <tr>
      <th>Titulo</th>
      <th>Descrição</th>
      <th>Publicado em</th>
      <th>Status</th>
      <th>Ações</th>

    </tr>
  </ng-template>
  <ng-template #body let-event>
    <tr>

      <td>
        <div class="flex items-center">
          <img [src]="event.image" alt="event.title" class="w-20 h-12 object-cover rounded mr-2" />
          <p> {{event.title}}</p>

        </div>
      </td>
      <td>
        {{truncateText(event.description, 50)}}
      </td>
      <td>
        <p>{{formatDate(event.publishedAt)}}</p>
      </td>
      <td>
        <p-badge [value]="event.status" [severity]="event.status === 'ativo' ? 'success' : 'warn'" class="capitalize" />

      </td>
      <td>
        <div class="flex items-center">
          <p-button icon="pi pi-pencil" severity="secondary" size="small" pTooltip="Editar" tooltipPosition="top"
            (click)="handleClickEdit(event.id)" />
          <p-button icon="pi pi-trash" severity="danger" class="ml-2" size="small" pTooltip="Deletar"
            tooltipPosition="top" (click)="handleClickDelete(event.id)" />
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template #emptymessage>
    <tr>
      <td colspan="5">
        <p class="text-center">{{emptyMessage}}</p>
      </td>
    </tr>
  </ng-template>

</p-table>